{
    "semi": false,
    "singleQuote": false,
    "jsxSingleQuote" : false,
    "tabWidth": 4,
    "printWidth" : 150,
    "useTabs" : true,
    "bracketSpacing" : true,
    "bracketSameLine" : false,
    "arrowParens" : "always"
}
                                                                                                                                                                                                                                                                                                                                                                                                                